@model List<Integrador_Web_Avanz.Models.Consulta>
@{
	ViewData["Title"] = "Consultas";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Consultas </h1>	
<table class="table table-striped">
	<thead>
		<tr>
			<th>Tipo de consulta</th>
			<th>Descripción</th>
			<th>Nombre Cliente</th>
			<th>Telefono Cliente</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var consulta in Model)
			{
				<tr>
					<td>@consulta.TipoConsulta</td>
					<td>@consulta.Descripcion</td>
				@if (@consulta._Cliente.Nombre != null) { 
				<td>@consulta._Cliente.Nombre</td>
				}
				else{
					<td>Sin cliente asociado</td>
				}
				@if (@consulta._Cliente.Telefono != null)
				{
					<td>@consulta._Cliente.Telefono</td>
				}
				else
				{
					<td>Sin cliente asociado</td>
				}
				</tr>	
		}
	</tbody>
</table>

