@model IEnumerable<Integrador_Web_Avanz.Models.Item>


<table class="table table-responsive table-hover">
    <tr>
        <th>Accion</th>
        <th>Id</th>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Sub Total</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="btn btn-primary" asp-action="Quitar" asp-controller="Consulta" asp-route-idCarrito="@item._Consulta.IdTipoConsulta">Quitar</a>
            </td>
            <td>@item._Consulta.IdTipoConsultaNavigation.IdTipoConsulta</td>
            <td>@item._Consulta.IdTipoConsultaNavigation.TipoDeConsulta</td>
            <td>@item._Consulta.Descripcion</td>
            <td>$ @item._Consulta.IdTipoConsultaNavigation.Precio</td>
            <td>@item.Cantidad</td>
            <td>$ @(item._Consulta.IdTipoConsultaNavigation.Precio * item.Cantidad)</td>
        </tr>
    }
</table>
<div class="align-items-end">
    <label class="form-label">Total a pagar</label>
    <label class="form-label text-success fw-bold">$ @Model.Sum(i => i.Cantidad * i._Consulta.IdTipoConsultaNavigation.Precio)</label>
</div>
<br />
<a class="btn btn-info" asp-action="Index" asp-controller="Home">Volver</a>
